body {
    margin: 5vw;
    text-align: center;
    font-family: arial;
    height: 4000px;

}

label, input {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}

div {
    border: 2px solid black;
    font-size: 40px;
    margin: 20px;
    display: none;
}

.xxx {
    background-color: black;
    color: white;
}

#buty {
    height: 150px;
    width: 150px;
    background-color: blue;
}

h2 {
   display: none; 
}
